hr{
	margin: 6rem 0;
}

h3{
	margin-top: 1rem;
}

h5{
	font-weight: 400;
}

.publication{
	list-style: none;
}

.publicationList{
	margin-left: 3rem;
}

.sectionHeader{
	margin-bottom: 5rem;
}

.title{
	font-weight: 600;
}

/*This is a font-awesome class.*/
.fa-angle-right{
	color: steelblue;
	font-size: 1.2em;
}

.fa-angle-down{
	color: steelblue;
	font-size: 1.2em;
}

.abstract{
	cursor: pointer;
}

.abstractLabel{
	margin-bottom: 0;
	margin-left: 0.5%;
	vertical-align: 10%;
	color: steelblue;
}

#biographyHR{
	margin: 2rem 0;
}

/*This class has the default values for abstract text boxes. */
.abstractTextDefault{
	max-width: 80%;
	margin: 1% auto 0 2%;
	overflow: hidden;
}

.abstractTextHidden{
	max-height: 0px;
	transition: max-height 1s ease-out;
}

.abstractTextVisible{
	max-height: 1000px;
	transition: max-height 2s ease-out;
/*	border: solid steelblue 2px;
	padding: 1%;*/
}



/*---------------------------All navbar styling ----------------------------*/

.navbar{
	background-color: steelblue;
	width: 100%;
	display: block;
	margin-bottom: 50px;
}

.navbar-list{
  list-style: none;
  margin-bottom: 0;
  text-align: center;
}

/*inline-block is necessary when you want inline items in your navbar have changeable height. */
.navbar-item{
  display: inline-block;
  margin-bottom: 0;
  width: 24%;
}

.navbar-link{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  line-height: 6.5rem;
  color: #dae7f1;
  display: inline-block;
  width: 100%;
}

.navbar-link-text{
	display: none;
}

.navbar-link-item{
	display: inline-block;
}

.navbar-link:hover{
	color: steelblue;
	background-color: white;
}



/*------------------------ Responsive settings as used by skeleton CSS site -------------------------*/

@media (min-width: 400px) {
	.navbar-item{width: 18%;}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	.navbar-item{width: 21%;}
	.navbar-link-text{display: inline-block;}
	.navbar-link-icon{display: none;}
}

/* Larger than tablet */
@media (min-width: 750px) {
	.navbar-item{width: 15%;}
	.navbar-link-text{display: inline-block;}
	.navbar-link-icon{display: none;}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.navbar-item{width: 11%;}
	.navbar-link-text{display: inline-block;}
	.navbar-link-icon{display: none;}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	.navbar-item{width: 9%;}
	.navbar-link-text{display: inline-block;}
	.navbar-link-icon{display: none;}
}