<!-- The header for every page on this site, including the navbar -->
<!DOCTYPE html>
<html>
<head>
  <title>Yfke Dulek</title>
  <link rel="stylesheet" type="text/css" href="fontawesome/css/all.css">
  <link rel="stylesheet" type="text/css" href="styles/normalize.css">
  <link rel="stylesheet" type="text/css" href="styles/skeleton.css">
  <link rel="stylesheet" type="text/css" href="styles/yfkeCSS.css">
</head>

<body>

<!-- Custom navbar elements -->
	<nav class="navbar">
		<ul class="navbar-list">
			<li class="navbar-item">
				<a class="navbar-link" href="/">
					<span class="navbar-link-text">Home</span>
					<i class="fas fa-home fa-2x navbar-link-icon"></i>
				</a>
			</li>
			<li class="navbar-item">
				<a class="navbar-link" href="/publications">
					<span class="navbar-link-text">Publications</span>
					<i class="fas fa-file-alt fa-2x navbar-link-icon" id="navbar-fa-file-alt"></i>
				</a>
			</li>
			<li class="navbar-item">
				<a class="navbar-link" href="#talksHeader">
					<span class="navbar-link-text">Talks</span>
					<i class="fas fa-comments fa-2x navbar-link-icon"></i>
				</a>
			</li>
			<li class="navbar-item">
				<a class="navbar-link" href="#teachingHeader">
					<span class="navbar-link-text">Teaching</span>
					<i class="fas fa-user-graduate fa-2x navbar-link-icon"></i>
				</a>
			</li>
		</ul>
	</nav>
	
	<!-- Main container in which most content of this page are placed -->
	<div class="container">