<% include partials/header %>

<h3>Nothing to see here, move along!</h3>

<div>
    <form>    
        <input type="text" maxlength="512" id="input1"/>
        <button id="button1">Reveal Hint</button>
    </form>
</div>

<% include partials/footer %>