<% include partials/header %>



<div class="row">
    <div class="eight columns">
        <h3 class="sectionHeader">Welkom agent Y.M. Dulek.</h3>
        <p>Voer de coordinaten voor de tijdmachine hieronder in. Als de code de tijdslijn correct corrigeert dan zullen wij een nieuwe opdracht terug in de tijd sturen via dit medium...</p>
    </div>
</div>

<div class="row">
    <div class="offset-by-one four columns">
        <input type="text" placeholder="Hier temporele code" id="hiddenInput">
        <button class="button" id="hiddenButton">Voer in</button>
    </div>
</div>

<div class="row hideAnswerDiv" id="hiddenAnswerDiv">
    <div class="eight columns">
        <h5 class="sectionSubHeader">Temporele bemoeienis ongedaan gemaakt, gefeliciteerd!</h5>
        <p class="u-full-width" id="hiddenAnswerText">
            Filler text, this should be replaced with something through JS.
        </p>
    </div>
</div>



<% include partials/footer %>