<% include partials/header %>

<!-- The bio section, using the skeleton css grid -->
<div class="row">
  <div class="three columns">
  	<img class="mainImage" src="images/Yfke3.jpg">
  </div>
  <div class="nine columns">
		<h3>Yfke Dulek</h3>
		<hr id="biographyHR">
		<h5>PhD student at QuSoft</h5>
		<p>
			I am a PhD student in quantum cryptography at <a href="http://www.qusoft.org">QuSoft</a>, 
			the Dutch research center for quantum software. 
			My position is jointly funded by the <a href="https://www.illc.uva.nl">
			Insitute for Logic, Language and Computation (ILLC)</a>
			and the <a href="https://www.cwi.nl">Centre for Mathematics and Computer Science (CWI)</a>.
		</p>
		<p>
		  My research interests include quantum cryptography, homomorphic encryption, 
		  delegated quantum computation, quantum authentication, and verification.
		  My supervisor is <a href="https://homepages.cwi.nl/~schaffne/">Christian Schaffner</a>.
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="offset-by-one three columns">
    <h5>Email</h5>
    <div id="emailLocation"></div>
  </div>
  <div class="offset-by-three five columns">
    <h5 class="visitingAddress">Visiting address</h5>
    <adress>
      Room L228<br>
      Centrum voor Wiskunde en Informatica (CWI)<br>
      Science Park 123<br>
      1098 XG Amsterdam<br>
      The Netherlands<br>
    </adress>
  </div>
</div>

<hr>

<% include partials/footer %>