<!DOCTYPE html>
<html>
<head>
  <title>Yfke Dulek</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="styles/normalize.css">
  <link rel="stylesheet" type="text/css" href="styles/skeleton.css">
  <link rel="stylesheet" type="text/css" href="styles/yfkeCSS.css">
</head>

<body>

<!-- Custom navbar elements -->
	<nav class="navbar">
		<ul class="navbar-list">
			<li class="navbar-item">
				<a class="navbar-link" href="#top">
					<span class="navbar-link-text">Home</span>
					<i class="fas fa-home fa-2x navbar-link-icon"></i>
				</a>
			</li>
			<li class="navbar-item">
				<a class="navbar-link" href="#publicationsHeader">
					<span class="navbar-link-text">Publications</span>
					<i class="fas fa-file-alt fa-2x navbar-link-icon" id="navbar-fa-file-alt"></i>
				</a>
			</li>
			<li class="navbar-item">
				<a class="navbar-link" href="#talksHeader">
					<span class="navbar-link-text">Talks</span>
					<i class="fas fa-comments fa-2x navbar-link-icon"></i>
				</a>
			</li>
			<li class="navbar-item">
				<a class="navbar-link" href="#teachingHeader">
					<span class="navbar-link-text">Teaching</span>
					<i class="fas fa-user-graduate fa-2x navbar-link-icon"></i>
				</a>
			</li>
		</ul>
	</nav>


<!-- Main container in which most content of this page are placed -->
	<div class="container">

	<!-- Two grid columns for the bio-section of the page -->
    <div class="row">
      <div class="four columns">
      	<img class="u-max-full-width" src="images/placeholder.jpg">
      </div>

      <div class="eight columns">
	  		<h3>Yfke Dulek</h3>
	  		<hr id="biographyHR">
				<h5>PhD student at QuSoft</h5>
				<p>
					This is my BIO, it's an underdog redemption story that's been stolen and used by Naruto to make millions.
					Such is the life of the insanely gifted that others must mock my greatness with their inferior attempts at doublecrossery.
					That sentence started out pretty cool but at the end I kind of have to admit that my english isn't up to par.
				</p>
      </div>
		</div>

		<hr>

	<!-- Publications section starts here -->
		<h3 class="sectionHeader"><span id="publicationsHeader" class="anchorTargetOffset"></span>Publications</h3>
		<h5 class="sectionSubHeader"> <span>Conference proceedings</span> </h5>

		<ul class="listNoStyle">

			<li>
				<div class="row">
					<div class="two columns customColumns">
						<a href="https://arxiv.org/pdf/1804.02237.pdf" target="_blank"><i class="far fa-file-alt"></i></a>
						<a href="http://drops.dagstuhl.de/opus/frontdoor.php?source_opus=9248" target="_blank"><i class="fas fa-link"></i></a>
					</div>
					<div class="ten columns customColumns">
						<div class="contentTitle">Quantum ciphertext authentication and key recycling with the trap code</div>
						<div>Yfke Dulek, Florian Speelman</div>
						<div class="publicationSource">In Proceedings of the 13th Conference on Theory of Quantum Computation, Communication and Cryptography -- TQC 2018 (pp. 1:1-1:17). Leibniz International Proceedings in Informatics, Vol. 111.
						</div>
						<div>DOI: <a href="https://www.doi.org/10.4230/LIPIcs.TQC.2018.1" target="_blank" class="publicationDOI">10.4230/LIPIcs.TQC.2018.1</a></div>
						<div class="abstract">
							<i class="fas fa-angle-right abstractIcon"></i>
							<span class="abstractLabel">abstract</span>
						</div>
						<p class="abstractTextDefault abstractTextHidden">
							Vivamus sodales eros et mi porttitor, vel aliquet ante varius. Cras augue orci, sagittis a urna nec, porta eleifend metus. Aenean sed arcu sed augue vestibulum convallis aliquet vel metus. Etiam sit amet imperdiet lacus. Fusce molestie nisi maximus nunc lacinia, non efficitur est scelerisque. Nulla felis nibh, consequat eu enim non, ullamcorper vehicula arcu. Morbi dolor magna, egestas a velit vitae, volutpat aliquam ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer sed ipsum lectus. Aliquam at efficitur mi, vitae euismod sapien. Fusce sollicitudin nulla ut ante lacinia, ac eleifend turpis lacinia. Sed ex urna, fringilla non purus vitae, suscipit porta felis. Aenean id lacus quis diam hendrerit aliquam.
						</p>
					</div>
				</div>
			</li>

			<li>
				<div class="row">	
					<div class="two columns customColumns">
						<a href="https://arxiv.org/pdf/1708.09156.pdf" target="_blank"> <i class="far fa-file-alt"></i></a>
						<a href="https://link.springer.com/chapter/10.1007/978-3-319-70694-8_16" target="_blank"> <i class="fas fa-link"></i></a>
					</div>
					<div class="ten columns customColumns">
						<div class="contentTitle">Quantum fully homomorphic encryption with verification</div>
						<div>Gorjan Alagic, Yfke Dulek, Christian Schaffner, Florian Speelman</div>
						<div class="publicationSource">In Advances in Cryptology -- ASIACRYPT 2017 (pp. 438-467). Lecture Notes in Computer Science, Vol. 10624. Springer, Cham.</div>
						<div>DOI: <a href="https://www.doi.org/10.1007/978-3-319-70694-8_16" target="_blank" class="publicationDOI">10.1007/978-3-319-70694-8_16</a></div>
						<div class="abstract">
							<i class="fas fa-angle-right abstractIcon"></i>
							<span class="abstractLabel">abstract</span>
						</div>
						<p class="abstractTextDefault abstractTextHidden">
							Fully-homomorphic encryption (FHE) enables computation on encrypted data while maintaining secrecy. Recent research has shown that such schemes exist even for quantum computation. Given the numerous applications of classical FHE (zero-knowledge proofs, secure two-party computation, obfuscation, etc.) it is reasonable to hope that quantum FHE (or QFHE) will lead to many new results in the quantum setting. However, a crucial ingredient in almost all applications of FHE is circuit verification. Classically, verification is performed by checking a transcript of the homomorphic computation. Quantumly, this strategy is impossible due to no-cloning. This leads to an important open question: can quantum computations be delegated and verified in a non-interactive manner?
						</p>
					</div>
				</div>
			</li>

			<li>
				<div class="row">
					<div class="two columns customColumns">
						<a href="https://arxiv.org/pdf/1603.09717.pdf" target="_blank"> <i class="far fa-file-alt"></i></a>
						<a href="https://link.springer.com/chapter/10.1007/978-3-662-53015-3_1" target="_blank"> <i class="fas fa-link"></i></a>
					</div>
					<div class="ten columns customColumns">
						<div class="contentTitle">Quantum homomorphic encryption for polynomial-sized circuits</div>
						<div>Yfke Dulek, Christian Schaffner, Florian Speelman</div>
						<div class="publicationSource">In Advances in Cryptology -- CRYPTO 2016 (pp. 3-32). Lecture Notes in Computer Science, Vol. 9816. Springer, Berlin, Heidelberg.</div>
						<div>DOI: <a href="https://www.doi.org/10.1007/978-3-662-53015-3_1" target="_blank" class="publicationDOI">10.1007/978-3-662-53015-3_1</a></div>
						<div class="abstract">
							<i class="fas fa-angle-right abstractIcon"></i>
							<span class="abstractLabel">abstract</span>
						</div>
						<p class="abstractTextDefault abstractTextHidden">
							We present a new scheme for quantum homomorphic encryption which is compact and allows for efficient evaluation of arbitrary polynomial-sized quantum circuits. Building on the framework of Broadbent and Jeffery [BJ15] and recent results in the area of instantaneous non-local quantum computation [Spe15], we show how to construct quantum gadgets that allow perfect correction of the errors which occur during the homomorphic evaluation of T gates on encrypted quantum data. Our scheme can be based on any classical (leveled) fully homomorphic encryption (FHE) scheme and requires no computational assumptions besides those already used by the classical scheme. The size of our quantum gadget depends on the space complexity of the classical decryption function – which aligns well with the current efforts to minimize the complexity of the decryption function.
						</p>
					</div>
				</div>
			</li>
		</ul>

		<h5 class="sectionSubHeader"><span>Journal articles</span></h5>

		<ul class="listNoStyle">
			<li>
				<div class="row">
					<div class="two columns customColumns">
						<a href="https://arxiv.org/pdf/1603.09717.pdf" target="_blank"> <i class="far fa-file-alt"></i></a>
						<a href="https://theoryofcomputing.org/articles/v014a007/" target="_blank"> <i class="fas fa-link"></i></a>
					</div>
					<div class="ten columns customColumns">
						<div class="contentTitle">Quantum homomorphic encryption for polynomial-size circuits</div>
						<div>Yfke Dulek, Christian Schaffner, Florian Speelman</div>
						<div class="publicationSource">Theory of Computing 14.1 (2018): 1-45.</div>
						<div>DOI: <a href="https://www.doi.org/10.4086/toc.2018.v014a007" target="_blank" class="publicationDOI">10.4086/toc.2018.v014a007</a></div>
						<div class="abstract">
							<i class="fas fa-angle-right abstractIcon"></i>
							<span class="abstractLabel">abstract</span>
						</div>
						<p class="abstractTextDefault abstractTextHidden">
							In this work, we answer this question in the affirmative, by constructing a scheme for QFHE with verification (vQFHE). Our scheme provides authenticated encryption, and enables arbitrary polynomial-time quantum computations without the need of interaction between client and server. Verification is almost entirely classical; for computations that start and end with classical states, it is completely classical. As a first application, we show how to construct quantum one-time programs from classical one-time programs and vQFHE.
						</p>
					</div>
				</div>
			</li>
		</ul>

		<hr>

		<h3 class="sectionHeader"><span id="talksHeader" class="anchorTargetOffset"></span>Talks</h3>
		<h5 class="sectionSubHeader"><span>Conference talks</span></h5>

		<ul class="listNoStyle">
			<li>
				<div class="row">
					<div class="two columns customColumns">
						<i class="far fa-play-circle"></i>
					</div>
					<div class="ten columns customColumns">
						<div class="contentTitle">
							Event name goes here 
							<a href="" target="_blank">(there might be a link here)</a>
						</div>
						<div>Location and date go here</div>
						<div>Finally, title of the talk will go here</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="two columns customColumns">
						<!-- <i class="far fa-play-circle"></i> -->
						&nbsp;
					</div>
					<div class="ten columns customColumns">
						<div class="contentTitle">
							Event name goes here 
							<a href="" target="_blank">(there might be a link here)</a>
						</div>
						<div>Location and date go here</div>
						<div>Finally, title of the talk will go here</div>
					</div>
				</div>
			</li>
		</ul>


		<h5 class="sectionSubHeader"><span>Invited talks</span></h5>

		<ul class="listNoStyle">
			<li>
				<div class="row">
					<div class="two columns customColumns">
						<!-- <i class="far fa-play-circle"></i> -->
						&nbsp;
					</div>
					<div class="ten columns customColumns">
						<div class="contentTitle">
							Event name goes here 
							<a href="" target="_blank">(there might be a link here)</a>
						</div>
						<div>Location and date go here</div>
						<div>Finally, title of the talk will go here</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="two columns customColumns">
						<!-- <i class="far fa-play-circle"></i> -->
						&nbsp;
					</div>
					<div class="ten columns customColumns">
						<div class="contentTitle">
							Event name goes here 
							<a href="" target="_blank">(there might be a link here)</a>
						</div>
						<div>Location and date go here</div>
						<div>Finally, title of the talk will go here</div>
					</div>
				</div>
			</li>
		</ul>

		<h5 class="sectionSubHeader"><span>Seminars and outreach</span></h5>

		<ul class="listNoStyle">
			<li>
				<div class="row">
					<div class="two columns customColumns">
						<i class="far fa-play-circle"></i>
					</div>
					<div class="ten columns customColumns">
						<div class="contentTitle">
							Event name goes here 
							<a href="" target="_blank">(there might be a link here)</a>
						</div>
						<div>Location and date go here</div>
						<div>Finally, title of the talk will go here</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="two columns customColumns">
						<i class="far fa-play-circle"></i>
					</div>
					<div class="ten columns customColumns">
						<div class="contentTitle">
							Event name goes here 
							<a href="" target="_blank">(there might be a link here)</a>
						</div>
						<div>Location and date go here</div>
						<div>Finally, title of the talk will go here</div>
					</div>
				</div>
			</li>
		</ul>

	  <h3 class="sectionHeader"><span id="teachingHeader" class="anchorTargetOffset"></span>Teaching</h3>


	</div>
	<script type="text/javascript" src="scripts/yfkeJS.js"></script>
</body>
</html>