<!-- Publications view, which is built up out of three subtypes of publications.  -->
<% include partials/header %>


<!-- Section header and the first subsection: Conference proceedings.-->
<h3 class="sectionHeader">Publications</h3>
<h5 class="sectionSubHeader"> <span>Conference proceedings</span> </h5>

<!-- For each conference proceeding, the singlePublication.ejs view is repeated.-->
<ul class="listNoStyle">
  <% publications.filter(function(pub){return pub.type==="Conference Proceedings"}).forEach(function(publication){ %>
    <% include partials/singlePublication.ejs %>
  <% }) %>
</ul>


<!-- The second subsection, for journal articles. Works the same as the first.-->
<h5 class="sectionSubHeader"><span>Journal articles</span></h5>

<ul class="listNoStyle">
  <% publications.filter(function(pub){return pub.type==="Journal Articles"}).forEach(function(publication){ %>
    <% include partials/singlePublication.ejs %>
  <% }) %>
</ul>



<!-- The third subsection. These papers are currently not yet added, 
So i have added a condition around this subsection. -->
<% if( publications.filter(function(pub){return pub.type==="Preprint"}).length > 0 ){%>

  <h5 class="sectionSubHeader"><span>Preprint</span></h5>

  <ul class="listNoStyle">
    <% publications.filter(function(pub){return pub.type==="Preprint"}).forEach(function(publication){ %>
      <% include partials/singlePublication.ejs %>
    <% }) %>
  </ul>
  
<% } %>
	
<% include partials/footer %>