<!-- Talks view, which is built up out of three subtypes of publications.  -->
<% include partials/header %>

<h3 class="sectionHeader">Talks</h3>


<!--The old talks content, not yet being filled in or anything -->

<h3 class="sectionHeader">Talks</h3>
<h5 class="sectionSubHeader"><span>Conference talks</span></h5>

<ul class="listNoStyle">
	<li>
		<div class="row">
			<div class="two columns customColumns">
				<i class="far fa-play-circle"></i>
			</div>
			<div class="ten columns customColumns">
				<div class="contentTitle">
					Event name goes here 
					<a href="" target="_blank">(there might be a link here)</a>
				</div>
				<div>Location and date go here</div>
				<div>Finally, title of the talk will go here</div>
			</div>
		</div>
	</li>
	<li>
		<div class="row">
			<div class="two columns customColumns">
				<!-- <i class="far fa-play-circle"></i> -->
				&nbsp;
			</div>
			<div class="ten columns customColumns">
				<div class="contentTitle">
					Event name goes here 
					<a href="" target="_blank">(there might be a link here)</a>
				</div>
				<div>Location and date go here</div>
				<div>Finally, title of the talk will go here</div>
			</div>
		</div>
	</li>
</ul>


<h5 class="sectionSubHeader"><span>Invited talks</span></h5>

<ul class="listNoStyle">
	<li>
		<div class="row">
			<div class="two columns customColumns">
				<!-- <i class="far fa-play-circle"></i> -->
				&nbsp;
			</div>
			<div class="ten columns customColumns">
				<div class="contentTitle">
					Event name goes here 
					<a href="" target="_blank">(there might be a link here)</a>
				</div>
				<div>Location and date go here</div>
				<div>Finally, title of the talk will go here</div>
			</div>
		</div>
	</li>
	<li>
		<div class="row">
			<div class="two columns customColumns">
				<!-- <i class="far fa-play-circle"></i> -->
				&nbsp;
			</div>
			<div class="ten columns customColumns">
				<div class="contentTitle">
					Event name goes here 
					<a href="" target="_blank">(there might be a link here)</a>
				</div>
				<div>Location and date go here</div>
				<div>Finally, title of the talk will go here</div>
			</div>
		</div>
	</li>
</ul>

<h5 class="sectionSubHeader"><span>Seminars and outreach</span></h5>

<ul class="listNoStyle">
	<li>
		<div class="row">
			<div class="two columns customColumns">
				<i class="far fa-play-circle"></i>
			</div>
			<div class="ten columns customColumns">
				<div class="contentTitle">
					Event name goes here 
					<a href="" target="_blank">(there might be a link here)</a>
				</div>
				<div>Location and date go here</div>
				<div>Finally, title of the talk will go here</div>
			</div>
		</div>
	</li>
	<li>
		<div class="row">
			<div class="two columns customColumns">
				<i class="far fa-play-circle"></i>
			</div>
			<div class="ten columns customColumns">
				<div class="contentTitle">
					Event name goes here 
					<a href="" target="_blank">(there might be a link here)</a>
				</div>
				<div>Location and date go here</div>
				<div>Finally, title of the talk will go here</div>
			</div>
		</div>
	</li>
</ul>
	


<% include partials/footer %>