<!-- Talks view, which is built up out of three subtypes of publications.  -->
<% include partials/header %>


<h3 class="sectionHeader">Talks</h3>
<!--Three subsections, each with a filter on the array of talks, to create subsets.-->
<h5 class="sectionSubHeader"><span>Conference talks</span></h5>

<ul class="listNoStyle">
  <% talks.filter(function(talk){return talk.type==="conference talks"}).forEach(function(talk){ %>
    <% include partials/singleTalk.ejs %>
  <% }) %>
</ul>

<h5 class="sectionSubHeader"><span>Invited talks</span></h5>

<ul class="listNoStyle">
  <% talks.filter(function(talk){return talk.type==="invited talks"}).forEach(function(talk){ %>
    <% include partials/singleTalk.ejs %>
  <% }) %>
</ul>

<h5 class="sectionSubHeader"><span>Seminars and outreach</span></h5>

<ul class="listNoStyle">
  <% talks.filter(function(talk){return talk.type==="seminars and outreach"}).forEach(function(talk){ %>
    <% include partials/singleTalk.ejs %>
  <% }) %>
</ul>

<% include partials/footer %>