/* This is the primary css file, adding my own styles to the work of skeleton.css and fontawesome.
   Note that font-awesome is used my this site but not in this public/css directory.
   This is due to it being included by npm and placed in the node_modules directory.
*/

hr{
	margin: 6rem 0;
}

h3{
	margin-top: 1rem;
}

h5{
	font-weight: 400;
}

.publicationDOI{
	color: steelblue;
}

.listNoStyle{
	list-style: none;
}

.publicationSource{
	font-style: italic;
}

.contentTitle{
	font-weight: 600;
}

.sectionHeader{
	margin-bottom: 5rem;
}

.sectionSubHeader{
	margin-top: 1.5em;
	margin-bottom: 1.2em;
}

.sectionSubHeader span{
	border-bottom: 1px solid #E1E1E1;
	padding-bottom: 0.5em;
}

/*These are additions on the originale font-awesome classes.*/
.fa-angle-right{
	color: steelblue;
	font-size: 1.2em;
}

.fa-angle-down{
	color: steelblue;
	font-size: 1.2em;
}

.fa-file-alt{
	font-size: 1.5em;
	color: #222;
}

#navbar-fa-file-alt{
	color: #dae7f1;
	font-size: 2em;
}

.fa-link{
	font-size: 1.4em;
	padding-left: 0.3em;
	color: #222;
}

.fa-play-circle{
	font-size: 1.2em;
	padding-left: 60%;
}

.abstract{
	cursor: pointer;
}

.abstractLabel{
	margin-bottom: 0;
	margin-left: 0.5%;
	vertical-align: 10%;
	color: steelblue;
}

#biographyHR{
	margin: 2rem 0;
}

/*This class has the default values for abstract text boxes. */
.abstractTextDefault{
	max-width: 80%;
	margin: 1% auto 0 2%;
	overflow: hidden;
}

.abstractTextHidden{
	max-height: 0px;
	transition: max-height 1s ease-out;
}

.abstractTextVisible{
	max-height: 1000px;
	transition: max-height 2s ease-out;
}



/*---------------------------All navbar styling ----------------------------*/

.navbar{
	background-color: steelblue;
	width: 100%;
	display: block;
	margin-bottom: 50px;
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 1;
}

.navbar-list{
  list-style: none;
  margin-bottom: 0;
  text-align: center;
}

/*inline-block is necessary when you want inline items in your navbar have changeable height. */
.navbar-item{
  display: inline-block;
  margin-bottom: 0;
  width: 24%;
}

.navbar-link{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  line-height: 6.5rem;
  color: #dae7f1;
  display: inline-block;
  width: 100%;
}

/*This class makes sure the navbar doesn't hide the anchor-targets, by having the anchors target a span that is placed 100px higher.*/
.anchorTargetOffset{
	top: -100px;
	position: relative;
}

.navbar-link-text{
	display: none;
}

.navbar-link-item{
	display: inline-block;
}

.navbar-link:hover{
	color: steelblue;
	background-color: white;
}





/*------------------------ Responsive settings for navbar, based on the grid used by skeleton CSS -------------------------*/

.customColumns{
	margin-left: 0%;
}

@media (min-width: 400px) {
	.navbar-item{width: 18%;}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	.navbar-item{width: 21%;}
	.navbar-link-text{display: inline-block;}
	.navbar-link-icon{display: none;}
}

/* Larger than tablet */
@media (min-width: 750px) {
	.navbar-item{width: 15%;}
	.navbar-link-text{display: inline-block;}
	.navbar-link-icon{display: none;}
	.two.columns{
		width: 9%;
	}
	.ten.columns{
		width: 90%;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.navbar-item{width: 11%;}
	.navbar-link-text{display: inline-block;}
	.navbar-link-icon{display: none;}
	.two.columns{
		width: 7%;
	}
	.ten.columns{
		width: 91%;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	.navbar-item{width: 9%;}
	.navbar-link-text{display: inline-block;}
	.navbar-link-icon{display: none;}
}